* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; /* Usando a fonte Roboto */
    line-height: 1.6;
    background-color: #e8f5e9; /* Verde claro */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Estilo para o modal */
/* Estilo para o modal */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed; /* Fixa na tela */
    z-index: 1000; /* Acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro com transparência */
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%; /* Máximo de 80% da largura da tela */
    max-height: 80%; /* Máximo de 80% da altura da tela */
    margin-top: 50px; /* Ajuste esse valor conforme necessário */
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}



header {
    text-align: center;
    padding: 20px;
    background-color: #388e3c; /* Verde escuro */
    color: #fff;
    width: 100%;
}

header h1 {
    font-size: 2.5rem;
}

#download, #screenshots {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.download-btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #8bc34a; /* Verde */
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #7cb342; /* Verde mais escuro */
}

.ios-info {
    font-size: 0.9rem;
    color: #555;
    margin-top: 10px;
}

.screenshots-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.screenshots-container img {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #388e3c; /* Verde escuro */
    color: #fff;
    width: 100%;
}

footer a {
    color: #8bc34a; /* Verde */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
